header{
    display: flex;
    background-color: #009ca6;
    color:#fff;
    position: fixed;
    top:0;
    margin-bottom: 20px;
    padding: 0 30px;
    width: 100%;
}

.main-logo{
    width: 50px;
    margin: 0 30px;
}


header .nav .nav-link {
    color:#fff !important;
}